In [1]:
#Install required libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
# !pip install mlxtend
from mlxtend.frequent_patterns import association_rules,apriori
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r'C:\Users\priya\Downloads\Association Rules\Association Rules\Online retail.xlsx',header=None,names=['Products'],index_col=None)

In [3]:
df.head(15)

                                             Products
0   shrimp,almonds,avocado,vegetables mix,green gr...
1                              burgers,meatballs,eggs
2                                             chutney
3                                      turkey,avocado
4   mineral water,milk,energy bar,whole wheat rice...
5                                      low fat yogurt
6                      whole wheat pasta,french fries
7                            soup,light cream,shallot
8               frozen vegetables,spaghetti,green tea
9                                        french fries
10                                      eggs,pet food
11                                            cookies
12      turkey,burgers,mineral water,eggs,cooking oil
13                        spaghetti,champagne,cookies
14                               mineral water,salmon

In [4]:
df.value_counts()

Products
cookies                                                                                                                       223
french fries                                                                                                                  132
escalope                                                                                                                      101
mineral water                                                                                                                  93
eggs                                                                                                                           90
                                                                                                                             ...
frozen vegetables,tomatoes,milk,vegetables mix,eggs,chocolate,french fries,low fat yogurt                                       1
frozen vegetables,tomatoes,milk,salmon,cake,escalope                                                                            1
frozen vegetables,tomatoes,milk,salmon                                                                                          1
frozen vegetables,tomatoes,ground beef,spaghetti,mineral water,soup,milk,tea,chocolate,hot dogs,cauliflower,low fat yogurt      1
yogurt cake,mint                                                                                                                1
Length: 5176, dtype: int64

In [5]:
print(df_filtered)

NameError: name 'df_filtered' is not defined

In [ ]:
df.dtypes

In [ ]:
df.isna().sum()

In [ ]:
def text_split(txt):
    return txt.split(',')

In [ ]:
data = df['Products'].apply(text_split)
print(data)

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
df = te.fit_transform(data)

In [ ]:
encoded_df

In [ ]:
te.columns_

In [ ]:
data = pd.DataFrame(encoded_df, columns=te.columns_)
data

In [ ]:
data.replace([True,False],[1,0], inplace=True)

In [ ]:
data

In [ ]:
# Generate frequent itemsets using the Apriori algorithm
# Set the minimum support threshold to 0.001
scores = apriori(data,min_support=0.001, use_colnames=True)
scores

In [ ]:
# Generate association rules from the frequent itemsets
# Set the minimum confidence threshold to 0.7
rules = association_rules(scores,)
rules

In [ ]:
rules.sort_values(by = 'lift', ascending=False)

In [ ]:
# Plotting Support vs Confidence
plt.figure(figsize=(10, 6))
sns.scatterplot(x="support", y="confidence", size="lift", data=rules, hue="lift", palette="viridis", sizes=(20, 200))
plt.title('Support vs Confidence')
plt.xlabel('Support')
plt.ylabel('Confidence')
plt.legend(title='Lift')
plt.show()