***Hypothesis Testing***
- Bombay hospitality Ltd. operates a franchise model for producing exotic Norwegian dinners throughout New England. The operating cost for a franchise in a week (W) is given by the equation W = $1,000 + $5X, where X represents the number of units produced in a week. Recent feedback from restaurant owners suggests that this cost model may no longer be accurate, as their observed weekly operating costs are higher.***

**Objective :** 
* To investigate the restaurant owners' claim about the increase in weekly operating costs using hypothesis testing.
* **Data Provided:**
  - The theoretical weekly operating cost model: W = $1,000 + $5X.
  - Sample of 25 restaurants with a mean weekly cost of Rs. 3,050.
  - Number of units produced in a week (X) follows a normal distribution with a mean (μ) of 600 units and a standard deviation (σ) of 25 units.

#State the Hypothesis Statement
-  **Null hypothesis** = The weekly operating cost is equal to the therotical weekly operating cost.
-  **Alternate Hypothesis** = The weekly operating cost is higher than theortical weekly operating cost.
-  **It is a One tailed T-test problem**

In [126]:
import scipy.stats as st
import numpy as np
import pandas as pd

In [99]:
#given data in problem statement
samp_mean = 3050 
pop_mean= 4000
pop_std=  5*25
n=25
aplha = 0.05

In [100]:
tvalue=(samp_mean-pop_mean)/(pop_std/np.sqrt(n))             #the formula for calculating the t-statistics value

In [101]:
tvalue

-38.0

In [102]:
pvalue = st.t.cdf(-38.0,24)           #calculating the p value using scipy.stats model 
pvalue

2.9607810808177907e-23

In [103]:
alpha = 0.05       #level of significance

In [104]:
#Decision 
if pvalue<alpha:
    print('We reject Null hypothesis, i.e the weekly operating cost is not equal to the therotical weekly operating cost.')
else:
    print('Fail to reject Null Hypothesis, i.e The weekly operating cost is equal theortical weekly operating cost.')

We reject Null hypothesis, i.e the weekly operating cost is not equal to the therotical weekly operating cost.

In [105]:
critical_value = st.norm.ppf(0.05)

In [40]:
critical_value                  #critical vaLue

-1.6448536269514729

***Chi Square test Background:***
- 
Mizzare Corporation has collected data on customer satisfaction levels for two types of smart home devices: Smart Thermostats and Smart Lights. They want to determine if there's a significant association between the type of device purchased and the customer's satisfaction level
- **Objective:**
To use the Chi-Square test for independence to determine if there's a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.
.

***#State the null hypothesis***
- **Null Hypothesis** = The Columns are Independent i.e there is no relationship between two qualitative variables/columns.
- **Alternate Hypothesis** = The Columns are Dependent i.e there is a relationship between two columns.

In [117]:
from scipy.stats import chi2_contingency              #From Stats model we are importing Chi2_contingency function for performing chi**2 test

In [151]:
#Importing the given data with Dictionary Data Structure
given_data = {
    'Satisfaction': ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'],
    'Smart Thermostat': [50, 80, 60, 30, 20],
    'Smart Light': [70, 100, 90, 50, 50],
    'Total':[120,180,150,80,70]
}

In [152]:
df=pd.DataFrame(given_data)                           #Converting the given data into table format with the help of pandas library

In [139]:
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [153]:
chi2statistics,p,df,exp = chi2_contingency(df[['Smart Thermostat','Smart Light']].values)              #chi2_contigency returns 4 values

In [143]:
chi2statistics

5.638227513227513

In [144]:
p

0.22784371130697179

In [145]:
df

4

In [146]:
exp                                                                     #expected Frequency table

array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]])

In [147]:
critical_value = st.chi2.ppf(0.95,4)

In [93]:
critical_value

9.487729036781154

In [148]:
if chi2statistics > critical_value:
    print('Reject null Hypothesis / Columns are Dependent')
else:
    print('Fail To reject Null hypothesis / Columns are Independent')

Fail To reject Null hypothesis / Columns are Independent